* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, black, gray);
    font-size: 1.5em;
    text-align: center;
}

main {
    border: 10px solid black;
    display: flex;
    border-radius: 3px;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 80%;
    margin: 0 auto;
    background: rgb(251, 247, 247);
}

h1 {
    text-shadow: 2px 2px 5px white;
}

h3 {
    font-weight: bold;
    font-style: oblique;
}

img {
    width: 25%;
}

label {
    display: inline-block;
    width: 30%;
    justify-content: space-around;

}
.botoes{
    padding: 10px;
}
.botoes .btn {
    font-weight: bold;
    padding: 10px;
    background: #CCCC;
    border-radius: 10PX;
    border-color: purple;
}

.pc {
    position:relative;
    bottom: 27%;
}

footer {
    font-weight: bold;
    color: aliceblue;
    font-size: 0.7em;
}

footer span a {
    color: blueviolet;
    font-style: italic;
    line-height: 2em;
    letter-spacing: 2px;
}

a {
    color: bisque;
}

.att {
    color: white;
    font-size: 0.5em;
}